* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

h4,
p {
  margin: 0 10px;
}

/* TODO: set padding top and bottom 10px, left and right 20px */
/* TODO: set border to none */
/* TODO: set background-color to #333 */
/* TODO: set border radius to 5px */
/* TODO: set cursor to pointer */

button {
}
/* TODO: set background color of the hover to #555 */
button:hover {
}

/* TODO: set display to flex, add a gap of 40px and justify the content to center */
.container {
}

/* TODO: 
make display flex
add a gap of 10px
flex-direction to column
align-items to center
background color to #f4f4f4
min-width to 200px
*/
.product {
}
/* TODO: display to flex to put the title and price on the same line and set the justify content to space between */
.title {
}

.product img {
  width: 100%;
  border-radius: 10px;
}
